{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Sign Up{% endblock title %}
{% block content %}
<a href="{% url 'student_signup' %}">Cadatrar Estudante</a>
<a href="{% url 'ong_signup' %}">Cadatrar Ong</a>

<form method="post">
    {% csrf_token %}
    {{ student_form.as_p }}
    <button type="submit" name="student_signup">Sign Up as Student</button>
</form>

<form method="post">
    {% csrf_token %}
    {{ ong_form.as_p }}
    <button type="submit" name="ong_signup">Sign Up as ONG</button>
</form>


{% endblock content %}
