{% extends "base.html" %}
{% block content %}

<h1> NOTIFICATIONS </h1>

{% if True %}
    <p>{{ user.username }}</p>
{% endif %}

{% for notification in notification_list %}
    <h1>Notificação</h1>
    <p>{{ notification.job.project }}</p>
    <p>{{ notification.job }}</p>
    <p>{{ notification.message }}</p>
    <p>{{ notification.student.user }}</p>

    {% if user.is_ong %}
        Colocar botões de negar e aceitar aqui
        <p><a href="{% url 'job_accept_deny' notification.pk %}?operation=1">Aceitar Candidatura</a></p>
        <p><a href="{% url 'job_accept_deny' notification.pk %}?operation=0">Negar Candidatura</a></p>
    {% else %}
        Colocar o botão de ler notificação
        <p><a href="{% url 'delete_notification' notification.pk%}">Deletar Notificação</a></p>
    {% endif %}

{% endfor %}


{% endblock content%}
