{% extends "base.html" %}
{% block content %}
<div>
    <h1> Job </h1>
    <h1>{{ job.title }}</h1>
    <p>{{ job.description }}</p>
    <p>{{ job.location }}</p>
    <p>{{ job.available_vacancies }}</p>
    <p>{{ job.job_begin }}</p>
    <p>{{ job.job_end }}</p>
    <h1>Estudantes Voluntários</h1>
    <h3>Mostra todos que estão cadastrdos</h3>
    {% for student in job.student.all %}
        <li>{{ student.user.username }} </li>
        {% if user.is_ong %} 
            <p><a href="{% url 'dismiss_user' job.pk student.user.pk %}"> Dispensar Estudante(Só a ONG dona do projeto pode ver e fazer isso) </a></p>
        {% endif %}
    {% endfor %}
</div>
{% endblock content %}
