{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css">

<!-- Search Button -->
<div id="tag-searcher" class="container my-4">
    <div class="row">
        <form method="get" action="" class="mx-auto text-center col-8 col-sm-6 col-md-4">
            <div class="mb-2">
                <select name="tags[]" id="tags" multiple>
                    {% for tag in tags %}
                    <option value="{{ tag.tag_name }}"
                            {% if tag.name in selected_tags %}selected{% endif %}>
                    {{ tag.tag_name }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Pesquisar</button>
        </form>
    </div>
</div>

<!-- Cards -->
<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 justify-content-center">
        {% for job in jobs %}
        <div class="col my-3 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img src="{{ job.cover.url}}" class="card-img-top" alt="Capa do trabalho">
                <div class="card-header">
                    <h4 class="card-title">{{ job.title }}</h4>
                    <h6>por {{ job.project.ong }}</h6>
                    <span class="text-black-50">Nº de vagas: {{ job.available_vacancies }}</span>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ job.description|truncatechars:100 }}</p>
                </div>
                <div class="card-footer">
                    <div class="row mb-2">
                        <div class="col-3 my-auto">
                            <p class="mb-0"><i class="fa fa-map-marker" aria-hidden="true"></i> {{ job.location }}</p>
                        </div>
                        <div class="col">
                            <i class="fa fa-calendar d-block my-1 calendar-icon-begin" aria-hidden="true"> {{ job.job_begin }}</i>
                            <i class="fa fa-calendar d-block my-1 calendar-icon-end" aria-hidden="true"> {{ job.job_end }}</i>
                        </div>
                    </div>
                    <div class="row">
                        <a href="{% url 'job_detail' job.pk %}" class="btn btn-primary col-8 mx-auto">Ver trabalho</a>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        Nenhum Trabalho Encontrado
        {% endfor %}
    </div>
</div>

<!-- Pagination -->
{% if is_paginated %}

<nav id="pagination" aria-label="Page navigation">
    <ul class="pagination justify-content-center">

        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link btn-primary" href="?page={{ page_obj.previous_page_number }}" tabindex="-1" aria-disabled="true">Anterior</a>
        </li>
        {% endif %}

        <li class="page-item"><a class="page-link btn-primary" href="#">{{ page_obj.number }}</a></li>

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link btn-primary" href="?page={{ page_obj.next_page_number }}">Próximo</a>
        </li>
        {% endif %}
    </ul>
</nav>

{% endif %}

<script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>
<script>
    new MultiSelectTag('tags')
</script>
{% endblock content %}
