:root {
    --primary-color: #00B0AA;
    --primary-hover-color: #008C88;
}

body {
    min-height: 100vh;
}

/* Bootstrap colors override */
.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:visited {
    background-color: var(--primary-hover-color);
    border-color: var(--primary-hover-color);
}