{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
<div id="carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>    
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'images/carousel/slide01.jpg' %}" class="d-block w-100" alt="estudantes em trabalho voluntário">
            <div class="carousel-caption">
                <h5>Empoderando estudantes</h5>
                <p>Mudando o mundo</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/carousel/slide02.jpg' %}" class="d-block w-100" alt="estudantes em trabalho voluntário" style="object-position: center 30%;">
            <div class="carousel-caption">
                <h5>É um(a) estudante?</h5>
                <p>Candidate-se já para uma vaga!</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/carousel/slide03.jpg' %}" class="d-block w-100" alt="estudantes em trabalho voluntário" style="object-position: center 60%;">
            <div class="carousel-caption">
                <h5>Possui uma ONG?</h5>
                <p>Cadastre vagas de trabalho voluntário!</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
  </div>
{% if user.is_authenticated %}
    <h1>Usuário Autenticado Mostrar Jobs ou Projetos</h1>
    Hi {{ user.username }}, you are a 
    {% if user.is_student %}
        student!
    {% else %}
        ONG!
    {% endif %}
{% else %}
    <h1>Usuário Não Autenticado Mostrar Algo</h1>
{% endif %}
{% endblock content %}
