{% extends "base.html" %}
{% block content %}
<div>
    <h1> PROJETO </h1>
    <p>{{ project.title }}</p>
    <p>{{ project.description }}</p>
    <p>{{ project.location }}</p>
    {% if user.is_authenticated %}
        {% if user.is_ong %}
         <p><a href="{% url 'project_edit' project.pk %}">+ Edit Project</a></p>
         <p><a href="{% url 'project_delete' project.pk %}">- Delete Project</a></p>
         <p><a href="{% url 'job_create' project.pk %}">- Add Job</a></p>
         {% endif %}
        {% if user.is_student %}
         <p><a href="{% url 'job_list' project.pk %}">See job opportunities.</a></p>
         {% endif %}

    {% endif %}
   
</div>
{% endblock content %}
