{% extends "base.html" %}
{% block content %}
<div>
<h2>{{ user.username }}</h2>
<p>Email: {{ user.email }}</p>
<p>Universidade: {{ user.student.university }}</p>
<p>Matrícula: {{ user.student.registration }}</p>
<p>Descrição/Quem sou eu?: {{ user.description }}</p>
</div>

<a href="{% url 'student_edit' user.pk %}">+ Edit Student</a>
<p><a href="{% url 'user_delete' user.pk %}">- Delete User</a></p>

<h1>FOTO COVER</h1>
{% if user.cover %}
    <img src="{{ user.cover.url}}">
{% else %}
    <h2>SEM COVER</h2>
{% endif %}
<h1>FOTO PERFIL</h1>
{% if user.perfil %}
    <img src="{{ user.perfil.url}}">
{% else %}
    <h2>SEM PERFIL</h2>
{% endif %}
{% endblock content %}
