{% extends "base.html" %}
{% block content %}
<div>
    <h1> PROJETO </h1>
    <p>{{ project.title }}</p>
    <img src="{{ project.cover.url}}">
    <p>{{ project.description }}</p>
    <p>{{ project.location }}</p>
    {% if user.is_authenticated %}
        {% if user.is_ong %}
         <p><a href="{% url 'project_edit' project.pk %}">+ Edit Project</a></p>
         <p><a href="{% url 'project_delete' project.pk %}">- Delete Project</a></p>
         <p><a href="{% url 'job_create' project.pk %}">- Add Job</a></p>
         {% endif %}
         <p><a href="{% url 'job_list' project.pk %}">Ver Trabalhos</a></p>
    {% endif %}
</div>
{% endblock content %}
